html{
    scroll-behavior: smooth;
}

body{
    font-family: monospace;
    background-color: #eee;
    margin: 40px;
    word-wrap: break-word;
    font-size: larger;
}

.hyperlink{
    color: rgb(75, 77, 156);
    text-decoration:none;
}

.hyperlink:hover{
    color:blue;
    text-decoration:underline;
}

footer{
    font-family: monospace;
    background-color: #eee;
    margin: 40px;
    word-wrap: break-word;
    font-size: medium;
    text-align: center;
}

h3{
    margin-bottom: 0px;
    padding: 0;
}